@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

body{
  margin: 0px;
  background-color: #111;

  color: #FFF;
}

i.fa{
  height: 100%;
}

/****************/
/*      MENU    */
/****************/

.but > i{
  cursor: pointer;
}

.controle{
  position: absolute;
  top: 25px;
  left: 25px;

  width: 100%;
}
.controle > .but{
  margin: 0 auto;

  font-size: 25px;
  color: rgba(22, 68, 90, 0.75);
}

/****************/
/*    ESPACE    */
/****************/
.espace{
    margin: 0 auto;
}

.espace .orbite{
  stroke: rgba(22, 68, 90, 0.75);
  fill: none;
}

.espace .asteroides{
  stroke: grey;
  stroke-dasharray: 10, 2, 12, 12 ,4 ,7 ,20 ,3, 15, 14, 16, 12, 5, 9, 0, 11;
  fill: none;
}
